body {
    font-family: Arial, sans-serif;
    background-color: #1379d1; /* Light blue color for background */
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    background-color: #ac2424; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    background-color: #4CAF50; /* Green background for header */
    color: white; /* White text color */
    padding: 20px;
  }
  
  h1 {
    background-color: rgb(73, 128, 128);
    padding: 10px;
    font-size: 2.5em;
    margin: 0;
  }
  
  section {
    margin: 20px 0;
  }
  
  .personal-info {
    background-color: #099999; /* Light gray background for personal info */
    padding: 10px;
    border-radius: 6px;
  }
  
  h2 {
    font-size: 1.8em;
    color: #3d3a3a;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px 0;
    font-size: 1.2em;
  }
  